name: CI

on: [push, pull_request]

env:
  GO_VERSION: '^1.24'
  GO_STABLE: 'true'

jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-go@v5
            with:
              stable: ${{ env.GO_STABLE }}
              go-version: ${{ env.GO_VERSION }}
          - name: Check that 'gofmt' has been run
            run: test -z $(gofmt -l .)
    test:
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-go@v5
            with:
              stable: ${{ env.GO_STABLE }}
              go-version: ${{ env.GO_VERSION }}
          - name: Run 'go generate'
            run: go generate
    build:
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-go@v5
            with:
              stable: ${{ env.GO_STABLE }}
              go-version: ${{ env.GO_VERSION }}
          - name: Build executables
            run: go build ./cmd/gogenlicense
          - name: Upload executables
            uses: actions/upload-artifact@v4
            with:
              name: Binaries
              path: gogenlicense